* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple: #4b134f;
$pink: #c94b4b;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $pink; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    $purple,
    $pink
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    $purple,
    $pink
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 40%;
  height: 360px;
  background-color: rgba(255, 255, 225, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  position: relative;
}

#start {
  cursor: pointer;
}

#quiz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 5rem;
    padding: 20px 0 40px 0;
    font-family: "Sawarabi Gothic", Arial, Helvetica, sans-serif;
  }
}

#choices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  .choice {
    box-shadow: inset 0 0 0px 2px gray;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 1.6rem;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .choice:hover {
    box-shadow: inset 0 0 0px 3px $pink;
  }
}

// elements within the positioned absolute div

.container-absolute {
  position: absolute;
  position: absolute;
  top: 5%;
  right: 6%;
  display: flex;
  align-items: center;
}

#progress {
  display: flex;
  padding: 0 10px;
  .prog {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 2px;
  }
}

.counter {
  font-size: 1.6rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

#score-wrapper {
  text-align: center;
}

#score-img {
  width: 150px;
}

#score {
  padding: 10px 0;
  font-size: 1.4rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

#score-message {
  font-size: 1.4rem;
  font-family: "Sawarabi Gothic", Arial, Helvetica, sans-serif;
}
